@using ParteiWebService.ViewModel
@model CsvImportExportViewModel

<div class="modal fade" id="importExportModal" tabindex="-1" role="dialog" aria-labelledby="importExportModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Import/Export</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-6">
                        <form asp-action="CsvExport">
                            <button type="submit" class="btn btn-outline-primary w-100">
                                Export <i class="fas fa-file-export"></i>
                            </button>
                        </form>
                    </div>
                    <div class="form-group col-6">
                        <div class="form-group">
                            <form asp-action="CsvImport" asp-controller="Home" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    @Html.HiddenFor(organisationId => organisationId.OrganisationId)
                                    <input asp-for="File" type="file" id="customFile" class="custom-file-input" />
                                    <label class="custom-file-label" style="margin-right:1.5rem;" for="customFile">Datei auswählen</label>
                                </div>
                                <div class="row mt-3">
                                    <button type="submit" class="btn btn-primary">Import</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
